<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.co.andyjarrett.iosnfc" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>iosnfc</name>
    <description>
        iosNFC App
    </description>
    <author email="mail@andyjarrett.co.uk" href="http://andyjarrett.co.uk">
        Andy Jarrett
    </author>
    <content src="index.html" />
    <access origin="*" />
    <engine name="ios" spec="~4.4.0" />
    <plugin name="phonegap-nfc" spec="~0.7.0" />
</widget>
